.container{
    border-top: var(--ui-border);
}

.logo_container{
    display: flex;
    justify-content: center;
    padding-block: 1rem;
}

.nav_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.nav{
    padding-block: 0.75rem;
}

.nav h4{
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding-block-end: 0.5rem;    
}

.nav_menu{
    font-size: 1rem;
    line-height: 1.25rem;
    list-style: none;
    color: var(--ui-grey-light);
}

.nav_menu li{
    padding-block-end: 0.25rem;
}

.nav_menu li:hover a{
    color: var(--font-clr-light);
}

.legal_container{
    border-top: var(--ui-border);
    padding-block: 0.5rem;
    text-align: center;
}