/* Imports and Fonts */

@import "react-slideshow-image/dist/styles.css";

@font-face {
  font-family: 'gotham';
  src: url('/fonts/gotham-black-webfont.woff2') format('woff2'),
       url('/fonts/gotham-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gotham-light';
  src: url('/fonts/gotham-light-webfont.woff2') format('woff2'),
       url('/fonts/gotham-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal; 
}

/* CSS Reset */

*,
*::before,
*::after{
  box-sizing: border-box;
}

html,
body,
h1,h2,h3,h4,h5,h6,
ul,
button{
  padding: 0;
  margin: 0;
}

a, li{
  text-decoration: none;
}

button{
  border: none;
  background: none;
}

/* Custom Properties */

:root{
  /* Background Colours */
  --bg-dark: hsl(222 63% 3%);
  --bg-dark-opacity95: hsl(222 63% 3% / 0.95);
  --bg-light: hsl(0 0% 100%);
  --bg-light-opacity90: hsl(0 0% 100% / 0.9);
  /* Ui Colours */
  --ui-black: hsl(0 0% 5%);
  --ui-white: hsl(0 0% 100%);
  --ui-white-opacity40: hsl(0 0% 100% / 0.4);
  --ui-white-opacity80: hsl(0 0% 100% / 0.8);
  --ui-grey-light: hsl(215, 10%, 45%);
  --ui-grey-light-opacity40: hsl(215 10% 45% / 0.4);
  --ui-grey-dark: rgb(34,38,47);
  --ui-grey-dark-opacity40: rgb(34 38 47 / 0.4);
  --ui-accent: hsl(0, 100%, 40%);  
   /* Font Colours */
   --font-clr-light: hsl(0 0% 100%);
   --font-clr-dark: hsl(0 0% 5%);
   /* Borders */
  --ui-border: solid 1px var(--ui-grey-dark);
}

/* Global CSS */

html,
body{  
  scroll-behavior: smooth;
  background-color: var(--bg-dark);
  color: var(--font-clr-light);
  font-family: 'gotham-light';
}

main{ 
  position: relative;
  min-height: 80vh;
  margin-inline: auto;
  padding-block-end: 1rem;
}

a.anchor {
  display: block;
  position: relative;
  top: -5.5rem;
  visibility: hidden;
}

.coming_soon{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  font-family: 'gotham';
}

.slide_container{
  z-index: 1;
}

.image_container{  
  width: 100%;
  max-height: 80vh;  
  z-index: 1;
}

.prevArrow,.nextArrow{
  cursor: pointer;
  height: min-content;
}

.prevArrow{
  transform: rotate(180deg);
}

.prevArrow path, .nextArrow path{
  fill: var(--ui-accent);
}

.socials{
  background-color: var(--ui-grey-dark);
  transform: translateY(-4px);
  height: max-content;  
}

.socials_list{
  display: flex;
  justify-content: space-between;  
  max-width: 75rem;
  padding-inline: 1rem;
  margin-inline: auto;
}

.socials_list a{
  display: flex;
  align-items: center;
  padding-block: 0.75rem;
  color: var(--ui-grey-light);
}

.socials_list a:hover{
  color: var(--font-clr-light);
}

.socials_list a svg{
  height: 24px;
  width: 24px;
}

.latest_news{
  max-width: 75rem;  
  margin-inline: auto;
}

.section_heading_container{
  position: relative;
  display: flex;
  padding: 1.5rem 1rem;  
}

.section_heading_container h3{
  font-family: 'gotham-light';
  text-transform: uppercase;
  font-size: 1.25rem;
  line-height: 1.75rem;  
}

.pill{
  content: '';
  height: inherit;
  width: 0.25rem;
  border-radius: 100vw;  
  background-color: var(--ui-accent);
  color: var(--ui-accent);
  margin-inline-end: 0.5rem;
}

.news_grid{
  display: grid;
  grid-template-columns: 1fr;  
}

.news_item{
  display: flex;
  padding: 1rem;
  font-family: 'gotham-light';
  border-bottom: var(--ui-border);  
  min-height: 125px;   
}

.news_item:nth-child(1){  
  border-top: var(--ui-border);
}

.news_image_container{  
  position: relative;  
  min-width: 40%;  
}

.news_details{
  padding-inline-start: 0.5rem;  
}

.news_details_info #date,.news_details_info .dot{
  display: none;
}

.news_details h4{
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  color: var(--ui-grey-light);
}

.news_details h2{
  text-transform: uppercase;
  font-family: 'gotham';
  font-size: 15px;
  line-height: 24px;
  padding-block-start: 0.25rem;
}

.dot{
  height: 0.3rem;
  width: 0.3rem;
  background-color: var(--ui-grey-light);
  border-radius: 50%;
  display: inline-block;
  margin-inline: 0.25rem;
}

button[role=see_more]{
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 1.5rem auto 0.5rem auto;  
  font-family: 'gotham';
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  width: 40%;
  padding: 0.5rem 0rem;  
  color: var(--ui-grey-light);
  border: solid 1px var(--ui-grey-light);
  border-radius: 100vw;
}

button[role=see_more]:hover{
  color: var(--font-clr-light);
  border-color: var(--font-clr-light);
}

.our_teams{
  max-width: 75rem;  
  margin-inline: auto;
}

.teams_grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.team_container{
  width: 100%;
  height: 80px;
  padding-inline: 1rem;  
}

.game_image_container{
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%; 
  outline: solid 1px var(--ui-white); 
}

.game_image{
  filter: blur(2px);
  opacity: 0.6;
}

.game_image_container:hover .game_image {
  filter: blur(2px);
  opacity: 0.6;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.game_logo_container{ 
  position: relative; 
  width: 15%;
  height: 100%;
  margin-inline: auto;  
  transform: scale(0.75);
  opacity: 1;
}

.game_logo_container-csgo{
  position: relative; 
  width: 25%;
  height: 100%;
  margin-inline: auto;
  opacity: 1;
  transform: scale(1.1);
  filter: invert(100%);
}

.game_image_container:hover .game_logo_container,.game_image_container:hover .game_logo_container-csgo{
  opacity: 1;
  transition: opacity 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}





/* Index page match list */

.recent_matches{
  max-width: 75rem;  
  margin-inline: auto;
}

.match_container{
  border-bottom: var(--ui-border);
  border-top: var(--ui-border);
  padding-block: 1rem;
}

.match_details{
  display: flex;
  flex-direction: column;
  align-items: center;  
  padding-block-end: 1rem;
}

.match_details h4{
  padding-block-start: 0.5rem;
  font-size: 1.1rem;
}

.match_details h6{
  padding-block-start: 0.375rem;
  font-size: 0.9rem;
  color: var(--ui-grey-light);
}

.match_details h5{
  cursor: pointer;
  padding-block-start: 0.375rem;
  font-size: 0.8rem;
  color: var(--ui-white);
}

.match_result{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin-inline: auto;
}

.match_result h4{
  padding-block-start: 0.5rem;
}

.team1,.team2{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100px;  
}

.team_image_container{
  position: relative;  
  width: 64px;
  height: 64px;
  margin-inline: auto;  
}

.loss,.win{
  height: min-content;
  padding: 0.5rem 1rem;  
  border-radius: 0.5rem;
}

.loss{  
  background-color: #FF2849;  
}

.win{
  background-color: #12b34d;
}


.social_feed{
  max-width: 75rem;  
  margin-inline: auto;
}

.twitter_container{
  padding-inline: 1rem;
}


/* Teams Page */

.team_section_container{
  max-width: 75rem;
  margin-inline: auto;
}

.teams_player_grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(220px,100%),1fr));
  gap: 1rem 0rem;
}

.teams_heading_container{
  text-align: center;
  padding-inline: 1rem;
  padding-block-start: 1rem;
  max-width: 75rem;
  margin-inline: auto;
}

.teams_heading_container h1{
  text-transform: uppercase;
  font-family: 'gotham';
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.teams_heading_container p{  
  font-size: 0.875rem; 
  line-height: 1.25rem;   
}

.teams_heading_container p b{  
  font-size: 1rem; 
  line-height: 1.5rem;   
}

/* Playercard */

.playercard_container{  
  padding-inline: 1rem;
}

.playercard{
  position: relative;
  border: var(--ui-border);
  padding: 1rem;
}

.playercard_image_container{
  width: 100%;  
}

.playercard_info_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: 1rem;
}

.playercard_info_container h4{
  padding-inline-start: 0.25rem;  
}

.playercard_flag_name{
  display: flex;
  font-size: 1.3rem;
}

.playercard_info_container span{
  font-size: 1rem;
  color: var(--ui-grey-light);
  padding-block-start: 0.5rem;
}

.playercard_social_container{
  display: flex;
  justify-content: center;
}

.playercard_social_container svg{
  font-size: 1.4rem;
  margin-inline: 0.75rem;
  margin-block-start: 0.6rem;
}

.playercard_social_container a{
  cursor: pointer;
  text-decoration: none;
  color: var(--font-clr-light);  
}

.has_social{
  display: block;
}

.no_social{
  display: none;
}

.playercard_role_image{ 
  width: 100%;
  height: 100%;
}

.playercard_role_container{
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  width: 14%;
  aspect-ratio: 1/1;
}

button[role=view_profile]{
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 1rem auto 0.5rem auto;  
  font-family: 'gotham';
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  padding: 0.5rem 0rem;  
  color: var(--ui-grey-light);
  border: solid 1px var(--ui-grey-light);
  border-radius: 100vw;
}

button[role=view_profile]:hover{
  color: var(--font-clr-light);
  border-color: var(--font-clr-light);
}

@media screen and (min-width:40rem) {

  [class*='teams-bar']{
    content: "";
    position: absolute;
    height: 1px;    
    right: 0;
    top: 50%;
    border-radius: 100vw;
    background-color: var(--ui-white);
    margin-inline-end: 1rem;
  }

  .teams-bar-lol{
    width: calc(100% - 286px);
  }

  .teams-bar-csgo{
    width: calc(100% - 120px);
  }

  .teams-bar-fifa{
    width: calc(100% - 106px);
  }

  .news_grid{
    grid-template-columns: repeat(auto-fit, minmax(min(300px,100%),1fr)); 
    gap: 1rem 0.5rem;   
  }

  .news_item{
    flex-direction: column;
    padding: 0 1rem;
    border: none;
  }

  .news_details{
    padding: 0.5rem 0;
  }
  .news_item:nth-child(1){
    border: none;
  }  

  .news_image_container{
    aspect-ratio: 16/9;
    width: 100%;
  }

  .news_details_info #date,.news_details_info .dot{
    display: block;
  }

  .news_details_info{
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width:48rem) { 

}

@media screen and (min-width:56rem) {   

}
