/* Imports and Fonts */

@import "react-slideshow-image/dist/styles.css";

@font-face {
  font-family: 'gotham';
  src: url('/fonts/gotham-black-webfont.woff2') format('woff2'),
       url('/fonts/gotham-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gotham-light';
  src: url('/fonts/gotham-light-webfont.woff2') format('woff2'),
       url('/fonts/gotham-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal; 
}

/* CSS Reset */

*,
*::before,
*::after{
  box-sizing: border-box;
}

html,
body,
h1,h2,h3,h4,h5,h6,
ul,
button{
  padding: 0;
  margin: 0;
}

a, li{
  text-decoration: none;
}

button{
  border: none;
  background: none;
}

/* Custom Properties */

:root{
  /* Background Colours */
  --bg-dark: hsl(222 63% 3%);
  --bg-dark-opacity90: hsl(222 63% 3% / 0.9);
  --bg-light: hsl(0 0% 100%);
  --bg-light-opacity90: hsl(0 0% 100% / 0.9);
  /* Ui Colours */
  --ui-black: hsl(0 0% 5%);
  --ui-white: hsl(0 0% 100%);
  --ui-white-opacity40: hsl(0 0% 100% / 0.4);
  --ui-grey-light: hsl(215, 10%, 45%);
  --ui-grey-light-opacity40: hsl(215 10% 45% / 0.4);
  --ui-grey-dark: rgb(34,38,47);
  --ui-grey-dark-opacity40: rgb(34 38 47 / 0.4);
  --ui-accent: hsl(0, 100%, 40%);  
   /* Font Colours */
   --font-clr-light: hsl(0 0% 100%);
   --font-clr-dark: hsl(0 0% 5%);
   /* Borders */
  --ui-border: solid 1px var(--ui-grey-dark);
}

/* Global CSS */

html,
body{
  scroll-behavior: smooth;
  background-color: var(--bg-dark);
  color: var(--font-clr-light);
}

main{
  min-height: 80vh;
  margin-inline: auto;
}

.image_container{  
  width: 100%;
  max-height: 80vh;
}

.prevArrow,.nextArrow{
  cursor: pointer;
  height: min-content;
}

.prevArrow{
  transform: rotate(180deg);
}

.prevArrow path, .nextArrow path{
  fill: var(--ui-accent);
}

.socials{
  background-color: var(--ui-grey-dark);
  transform: translateY(-4px);
  height: max-content;
}

.socials_list{
  display: flex;
  justify-content: space-between;  
  max-width: 96rem;
  padding-inline: 1rem;
}

.socials_list a{
  display: flex;
  align-items: center;
  padding-block: 0.75rem;
}

.socials_list a svg{
  height: 18px;
  width: 18px;
}

.latest_news{
  max-width: 96rem;  
  margin-inline: auto;
}

.section_heading_container{
  display: flex;
  padding: 1rem;  
}

.section_heading_container h3{
  font-family: 'gotham-light';
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.25rem;  
}

.pill{
  content: '';
  height: inherit;
  width: 0.1875rem;
  border-radius: 100vw;  
  background-color: var(--ui-accent);
  color: var(--ui-accent);
  margin-inline-end: 0.5rem;
}

.news_grid{
  display: grid;
  grid-template-columns: 1fr;  
}

