/* Imports and Fonts */

@import "react-slideshow-image/dist/styles.css";

@font-face {
  font-family: 'gotham';
  src: url('/fonts/gotham-black-webfont.woff2') format('woff2'),
       url('/fonts/gotham-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gotham-light';
  src: url('/fonts/gotham-light-webfont.woff2') format('woff2'),
       url('/fonts/gotham-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal; 
}

/* CSS Reset */

*,
*::before,
*::after{
  box-sizing: border-box;
}

html,
body,
h1,h2,h3,h4,h5,h6,
ul,
button{
  padding: 0;
  margin: 0;
}

a, li{
  text-decoration: none;
}

button{
  border: none;
  background: none;
}

/* Custom Properties */

:root{
  /* Background Colours */
  --bg-dark: hsl(222 63% 3%);
  --bg-dark-opacity90: hsl(222 63% 3% / 0.9);
  --bg-light: hsl(0 0% 100%);
  --bg-light-opacity90: hsl(0 0% 100% / 0.9);
  /* Ui Colours */
  --ui-black: hsl(0 0% 5%);
  --ui-white: hsl(0 0% 100%);
  --ui-white-opacity40: hsl(0 0% 100% / 0.4);
  --ui-grey-light: hsl(215, 10%, 45%);
  --ui-grey-light-opacity40: hsl(215 10% 45% / 0.4);
  --ui-grey-dark: rgb(34,38,47);
  --ui-grey-dark-opacity40: rgb(34 38 47 / 0.4);
  --ui-accent: hsl(0, 100%, 40%);  
   /* Font Colours */
   --font-clr-light: hsl(0 0% 100%);
   --font-clr-dark: hsl(0 0% 5%);
   /* Borders */
  --ui-border: solid 1px var(--ui-grey-dark);
}

/* Global CSS */

html,
body{
  scroll-behavior: smooth;
  background-color: var(--bg-dark);
  color: var(--font-clr-light);
  font-family: 'gotham-light';
}

main{
  min-height: 80vh;
  margin-inline: auto;
}

.coming_soon{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  font-family: 'gotham';
}

.image_container{  
  width: 100%;
  max-height: 80vh;  
}

.prevArrow,.nextArrow{
  cursor: pointer;
  height: min-content;
}

.prevArrow{
  transform: rotate(180deg);
}

.prevArrow path, .nextArrow path{
  fill: var(--ui-accent);
}

.socials{
  background-color: var(--ui-grey-dark);
  transform: translateY(-4px);
  height: max-content;
}

.socials_list{
  display: flex;
  justify-content: space-between;  
  max-width: 96rem;
  padding-inline: 1rem;
}

.socials_list a{
  display: flex;
  align-items: center;
  padding-block: 0.75rem;
  color: var(--ui-grey-light);
}

.socials_list a:hover{
  color: var(--font-clr-light);
}

.socials_list a svg{
  height: 24px;
  width: 24px;
}

.latest_news{
  max-width: 96rem;  
  margin-inline: auto;
}

.section_heading_container{
  display: flex;
  padding: 1rem;  
}

.section_heading_container h3{
  font-family: 'gotham-light';
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.25rem;  
}

.pill{
  content: '';
  height: inherit;
  width: 0.1875rem;
  border-radius: 100vw;  
  background-color: var(--ui-accent);
  color: var(--ui-accent);
  margin-inline-end: 0.5rem;
}

.news_grid{
  display: grid;
  grid-template-columns: 1fr;  
}

.news_item{
  display: flex;
  padding: 1rem;
  font-family: 'gotham-light';
  border-bottom: var(--ui-border);
}

.news_item:nth-child(1){  
  border-top: var(--ui-border);
}

.news_image_container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40%;
  width: 40%;
}

.news_details{
  padding-inline-start: 0.5rem;
}

.news_details_info #date,.news_details_info .dot{
  display: none;
}

.news_details h4{
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  color: var(--ui-grey-light);
}

.news_details h2{
  text-transform: uppercase;
  font-family: 'gotham';
  font-size: 14px;
  line-height: 20px;
  padding-block-start: 0.5rem;
}

.dot{
  height: 0.3rem;
  width: 0.3rem;
  background-color: var(--ui-grey-light);
  border-radius: 50%;
  display: inline-block;
  margin-inline: 0.25rem;
}

button[role=see_more]{
  display: flex;
  justify-content: center;
  margin: 1.5rem auto 0.5rem auto;  
  font-family: 'gotham';
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  width: fit-content;
  padding: 0.5rem 4rem;  
  color: var(--ui-grey-light);
  border: solid 1px var(--ui-grey-light);
  border-radius: 100vw;
}

button[role=see_more]:hover{
  color: var(--font-clr-light);
  border-color: var(--font-clr-light);
}

.teams_grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.team_container{
  width: 100%;
  height: 80px;
  padding-inline: 1rem;
}

.game_image_container{
  position: relative;
  width: 100%;
  height: 100%; 
  outline: solid 1px var(--ui-white); 
}

.game_image_container:hover .game_image {
  filter: blur(2px);
  opacity: 0.6;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.game_logo_container{ 
  position: relative; 
  width: 15%;
  height: 100%;
  margin-inline: auto;  
  transform: scale(0.75);
  opacity: 0;
}

.game_logo_container-csgo{
  position: relative; 
  width: 25%;
  height: 100%;
  margin-inline: auto;
  opacity: 0;
  transform: scale(1.1);
  filter: invert(100%);
}

.game_image_container:hover .game_logo_container,.game_image_container:hover .game_logo_container-csgo{
  opacity: 1;
  transition: opacity 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}






