/* Imports and Fonts */

@import "react-slideshow-image/dist/styles.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@75,400;100,300;100,350;100,400;100,500;100,600;100,700;100,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family: 'gotham';
  src: url('/fonts/gotham-black-webfont.woff2') format('woff2'),
       url('/fonts/gotham-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gotham-light';
  src: url('/fonts/gotham-light-webfont.woff2') format('woff2'),
       url('/fonts/gotham-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'maldinibold';
  src: url('/fonts/maldinibold-eaqgw-webfont.woff2') format('woff2'),
       url('/fonts/maldinibold-eaqgw-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'maldininormal';
  src: url('/fonts/maldininormal-zvkg3-webfont.woff2') format('woff2'),
       url('/fonts/maldininormal-zvkg3-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* CSS Reset */

*,
*::before,
*::after{
  box-sizing: border-box;
}

html,
body,
h1,h2,h3,h4,h5,h6,
ul,
button{
  padding: 0;
  margin: 0;
}

a, li{
  text-decoration: none;
}

button{
  border: none;
  background: none;
}

/* Custom Properties */

:root{
  /* Background Colours */
  --bg-dark: hsl(222 63% 3%);
  --bg-dark-opacity95: hsl(222 63% 3% / 0.95);
  --bg-light: hsl(0 0% 100%);
  --bg-light-opacity90: hsl(0 0% 100% / 0.9);
  /* Ui Colours */
  --ui-black: hsl(0 0% 5%);
  --ui-white: hsl(0 0% 100%);
  --ui-white-opacity40: hsl(0 0% 100% / 0.4);
  --ui-white-opacity80: hsl(0 0% 100% / 0.8);
  --ui-grey-light: hsl(215, 10%, 45%);
  --ui-grey-light-opacity40: hsl(215 10% 45% / 0.4);
  --ui-grey-dark: rgb(34,38,47);
  --ui-grey-dark-opacity40: rgb(34 38 47 / 0.4);
  --ui-accent: hsl(0, 100%, 40%);  
   /* Font Colours */
   --font-clr-light: hsl(0 0% 100%);
   --font-clr-dark: hsl(0 0% 5%);
   /* Borders */
  --ui-border: solid 1px var(--ui-grey-dark);
}

/* Global CSS */

html,
body{  
  scroll-behavior: smooth;
  background-color: var(--bg-dark);
  color: var(--font-clr-light);
  font-family: 'gotham-light';
}

main{ 
  position: relative;
  min-height: 80vh;
  margin-inline: auto;
  padding-block-end: 1rem;
}

a.anchor {
  display: block;
  position: relative;
  top: -5.5rem;
  visibility: hidden;
}

.coming_soon{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  font-family: 'gotham';
}

.our_teams,.recent_matches,.social_feed{
  padding-block-start: 1rem;
}

.slideshow_container{
  position: relative;
  background-color: var(--ui-grey-dark-opacity40);
}

.slide_container{
  position: relative;
  z-index: 1;
}

.index_hero_text{
  display: none;
  position: absolute;
  top: 50%;
  left: 30%;
  z-index: 10;
  transform: translate(-50%, -50%);
}

.index_hero_text h1{
  font-family: 'Bebas Neue' ;
  letter-spacing: 6px;
  font-size: 6rem;
  line-height: 1;
  text-shadow: 4px 4px 8px var(--bg-dark);
}

.index_hero_text h6{
  font-family: 'Bebas Neue' ;
  letter-spacing: 2px;
  font-size: 1.75rem;
  line-height: 2rem;
  text-shadow: 4px 4px 8px var(--bg-dark);
}

.image_container{  
  width: 100%;
  max-height: 80vh;  
  z-index: 1;
}

.prevArrow,.nextArrow{
  cursor: pointer;
  height: min-content;
}

.prevArrow{
  transform: rotate(180deg);
}

.prevArrow path, .nextArrow path{
  fill: var(--ui-accent);
}

.socials{
  background-color: var(--ui-grey-dark-opacity40);
  
  height: max-content;  
 
}

.socials_list{
  display: flex;
  justify-content: space-between;  
  max-width: 75rem;
  padding-inline: 1rem;
  margin-inline: auto;
}

.socials_list a{
  display: flex;
  align-items: center;
  padding-block: 0.75rem;
  color: var(--ui-grey-light);
}

.socials_list a:hover{
  color: var(--font-clr-light);
}

.socials_list a svg{
  height: 24px;
  width: 24px;
}

.latest_news{
  max-width: 75rem;  
  margin-inline: auto;
}

.section_heading_container{
  position: relative;
  display: flex;
  padding: 1.5rem 1rem;  
}

.section_heading_container h3{
  font-family: 'gotham-light';
  text-transform: uppercase;
  font-size: 1.25rem;
  line-height: 1.75rem;  
}

.pill{
  content: '';
  height: inherit;
  width: 0.25rem;
  border-radius: 100vw;  
  background-color: var(--ui-accent);
  color: var(--ui-accent);
  margin-inline-end: 0.5rem;
}

.news_grid{
  display: grid;
  grid-template-columns: 1fr;  
}

.news_item{
  display: flex;
  padding: 1rem;
  font-family: 'gotham-light';
  border-bottom: var(--ui-border);  
  min-height: 125px;   
}

.news_item:nth-child(1){  
  border-top: var(--ui-border);
}

.news_image_container{  
  position: relative; 
  min-width: 40%; 
  overflow: hidden; 
  
}

.news_details{
  padding-inline-start: 0.5rem;  
}

.news_details_info #date,.news_details_info .dot{
  display: none;
}

.news_details h4,.news_details time{
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  color: var(--ui-grey-light);
}

.news_details h2{
  text-transform: uppercase;
  font-family: 'gotham';
  font-size: 15px;
  line-height: 24px;
  padding-block-start: 0.25rem;
}

.dot{
  height: 0.3rem;
  width: 0.3rem;
  background-color: var(--ui-grey-light);
  border-radius: 50%;
  display: inline-block;
  margin-inline: 0.25rem;
}

button[role=see_more]{
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 1.5rem auto 0.5rem auto;  
  font-family: 'gotham';
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  width: calc(100% - 32px);
  padding: 0.5rem 0rem;  
  color: var(--ui-grey-light);
  border: solid 1px var(--ui-grey-light);
  border-radius: 100vw;
}

button[role=see_more]:hover{
  color: var(--font-clr-light);
  border-color: var(--font-clr-light);
}

.our_teams{
  max-width: 75rem;  
  margin-inline: auto;
}

.teams_grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.team_container{
  width: 100%;
  height: 80px;
  padding-inline: 1rem;  
}

.game_image_container{
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%; 
  outline: solid 1px var(--ui-white); 
}

.game_image{
  filter: blur(2px);
  opacity: 0.6;
}

.game_image_container:hover .game_image {
  filter: blur(2px);
  opacity: 0.6;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.game_logo_container{ 
  position: relative; 
  width: 15%;
  height: 100%;
  margin-inline: auto;  
  transform: scale(0.75);
  opacity: 1;
}

.game_logo_container-csgo{
  position: relative; 
  width: 25%;
  height: 100%;
  margin-inline: auto;
  opacity: 1;
  transform: scale(1.1);
  filter: invert(100%);
}

.game_image_container:hover .game_logo_container,.game_image_container:hover .game_logo_container-csgo{
  opacity: 1;
  transition: opacity 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}





/* Index page match list */

.recent_matches{
  max-width: 75rem;  
  margin-inline: auto;
}

.social_feed{
  max-width: 75rem;  
  margin-inline: auto;
}

.twitter_container{
  max-width: 640px;
  padding-inline: 1rem;
  margin-inline: auto;
}


/* Teams Page */

.team_section_container{
  max-width: 75rem;
  margin-inline: auto;
}

.teams_player_grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(220px,100%),1fr));
  gap: 1rem ;
  padding-inline: 1rem;
}

.teams_heading_container{
  text-align: center;
  padding-inline: 1rem;
  padding-block-start: 3rem;
  max-width: 75rem;
  margin-inline: auto;
}

.teams_heading_container h1{
  text-transform: uppercase;
  font-family: 'gotham';
  font-size: 3rem;
  line-height: 1;
}

.teams_heading_container p{  
  font-size: 0.875rem; 
  line-height: 1.25rem;   
}

.teams_heading_container p b{  
  font-size: 1rem; 
  line-height: 1.5rem;   
}

button[role=view_profile]{
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 1rem auto 0.5rem auto;  
  font-family: 'gotham';
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  padding: 0.5rem 0rem;  
  color: var(--ui-grey-light);
  border: solid 1px var(--ui-grey-light);
  border-radius: 100vw;
}

button[role=view_profile]:hover{
  color: var(--font-clr-light);
  border-color: var(--font-clr-light);
}


/* About Page */

.about_lucent, .about_partners, .about_staff,.about_achievements{
  max-width: 75rem;
  margin-inline: auto;
}



.about_lucent_container{
  display: flex;
  justify-content: center;
  align-items: center;  
  padding-block-start: 1rem;
}

.lucent_heading{
  text-align: center;
}

.about_lucent_container h1{
  text-transform: uppercase;
  font-family: 'gotham';
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.about_lucent_content_container{
  max-width: 56rem;
  text-align: center;
  padding: 1rem;
  margin-inline: auto;
}

.about_lucent_content_container p{
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0;
}

.about_lucent_content_container p:first-child{
  padding-block-end: 1rem;
}

.down_arrow{
  color: var(--ui-accent);
  font-size: 5rem;
  font-weight: 900;
}

.about_staff_grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(302px,100%),1fr));
  gap: 1.5rem 0;
}

/* Staffcard */

.staffcard_container{
  padding-inline: 1rem;
  margin-inline: auto;
  color: var(--font-clr-dark);
  height: 100%;
}

.staffcard{
  position: relative;
  max-width: 456px;
  width: 100%;
  height: 100%;
  border: var(--ui-border);
  background-color: #eeeeee;
}

.staffcard_image_container{
  position: relative;
  width: 100%;
  margin-inline: auto;
}

.staffcard_info_container,.staffcard_image_container{
  background-color: #eeeeee;
}

.staffcard_info_container{  
  padding: 1rem 1rem 4rem 1rem;
  
}

.staffcard_info_container h3{
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.staffcard_info_container h4{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-stretch: 75%;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #E5213A;
  padding-block-end: 0.75rem;
}

.staffcard_info_container p{
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0;  
}

.staffcard_info_socials_container{
  position: absolute;
  bottom: 0.75rem;
  left: 1rem;
  display: flex;  
}

.staffcard_info_socials_container h6{
  font-size: 1.5rem;
  line-height: 2rem;
  padding-inline-end: 0.5rem;  
}

.staffcard_info_socials_container h6 a{
  color: var(--font-clr-dark);  
}

.achievements_content_container{
  display: flex;
  justify-content: center;
  width: 100%;
  padding-inline: 1.25rem;
  padding-block-end: 1rem;
}

.achievements_content_container h5{
  font-size: 1.125rem;
  line-height: 2rem;
}

.achievement_list{
  list-style-type: disc;
  list-style-position: inside; 
  padding-block: 0.5rem; 
}

.achievement_list li{
  padding-block: 0.75rem;
}

.achievements_image_container{
  display: none;
  position: relative;
}

@media screen and (min-width:40rem) {

  .index_hero_text{
    display: block;
  }

  .teams_heading_container p{  
    font-size: 1rem; 
    line-height: 1.5rem;   
  }
  
  .teams_heading_container p b{  
    font-size: 1.25rem; 
    line-height: 1.75rem;   
  }

  [class*='teams-bar'],[class*='about-bar'],[class*='index-bar']{
    content: "";
    position: absolute;
    height: 1px;    
    right: 0;
    top: 50%;
    border-radius: 100vw;
    background-color: var(--ui-white);
    margin-inline-end: 1rem;
  }

  .index-bar-latest{
    width: calc(100% - 208px);
  }

  .index-bar-matches{
    width: calc(100% - 242px);
  }

  .index-bar-teams{
    width: calc(100% - 185px);
  }

  .index-bar-socials{
    width: calc(100% - 200px);
  }

  .teams-bar-lol{
    width: calc(100% - 286px);
  }

  .teams-bar-csgo{
    width: calc(100% - 120px);
  }

  .teams-bar-fifa{
    width: calc(100% - 106px);
  }

  .about-bar-partners{
    width: calc(100% - 224px);
  }

  .about-bar-staff{
    width: calc(100% - 178px);
  }

  .about-bar-achievements{
    width: calc(100% - 277px);
  }

  .news_grid{
    grid-template-columns: repeat(auto-fit, minmax(min(280px,100%),1fr));     
    gap: 1rem 2rem;
    padding: 0 1rem;   
  }

  .news_item{
    flex-direction: column;
    padding: 0 ;
    border: none;   
  }

  .news_item:nth-child(1){
    border: none;
  }

  .news_item:last-child{
    display: none;
  }

  .news_details{    
    padding: 0.5rem 0.5rem;
    
  }    

  .news_image_container{
    aspect-ratio: 16/9;
    width: 100%;
  }

  .news_details_info #date,.news_details_info .dot{
    display: block;
  }

  .news_details_info{
    display: flex;
    align-items: center;
  } 

  .lucent_heading{
    display: flex;    
  }

  .lucent_heading h1{
    font-size: 3rem;
    line-height: 1;
  }

  .lucent_heading h1:nth-child(2){
    padding-inline: 0.5rem;
  }

  .about_lucent_content_container p{
    font-size: 1rem;
    line-height: 1.25rem;
    margin: 0;
  }

}

@media screen and (min-width:48rem) { 

  .teams_heading_container p{  
    font-size: 1.125rem; 
    line-height: 1.75rem;   
  }
  
  .teams_heading_container p b{  
    font-size: 1.375rem; 
    line-height: 1.75rem;   
  }
}

@media screen and (min-width:56rem) {   

  .socials_list a svg{
    height: 32px;
    width: 32px;
  } 

}


@media screen and (min-width:64rem) {
  
  .news_item:last-child{
    display: block;
  }    
 
  .achievements_content_container{
    justify-content: space-between;
  }

  .achievements_image_container{
    display: block;   
    width: 45%;
  }

}
