.container{    
    border-bottom: var(--ui-border);
    border-top: var(--ui-border);
    padding-block: 1rem;    
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block-end: 1rem;  
}

.info h4{
    padding-block-start: 0.5rem;
    font-size: 1.1rem;
}

.info h6{
    padding-block-start: 0.375rem;
    font-size: 0.9rem;
    color: var(--ui-grey-light);
}

.info h5{
    cursor: pointer;
    padding-block-start: 0.375rem;
    font-size: 0.8rem;
    color: var(--ui-white);
}

.result{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin-inline: auto;
}

.result h4{
    padding-block-start: 0.5rem;   
}

.team1, .team2{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100px;   
}

.image_container{
    position: relative;  
    width: 64px;
    height: 64px;
    margin-inline: auto;  
}

.loss,.win{
    height: min-content;
    padding: 0.5rem 1rem;  
    border-radius: 0.5rem;
}

.loss{
    background-color: #FF2849;    
}

.win{
    background-color: #12b34d;
}

@media screen and (min-width:64rem) {
   .container{
       display: flex;
   } 

   .info{
       width: 30%;
   }

   .result{
       justify-content: flex-end;
       width: 60%;
   }

   .loss,.win{
    height: min-content;
    padding: 0.5rem 1rem;  
    border-radius: 0.5rem;
    margin-inline: 6rem;
  }
}