.container{
    position: sticky;
    z-index: 50;
    top: 0;
    background-color: var(--bg-dark-opacity95);
}

.top_navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    border-bottom: var(--ui-border);       
}

.logo_container{    
    position: relative;    
    height: 65%;         
    width: 150px;  
}

.primary_navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    border-bottom: var(--ui-border);      
}
 
.search_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-inline-start: 1rem;
}

.search_container div svg{  
    transform: translateY(1px); 
    width: 24px;
    height: 24px;
}

.search_container h4{
    padding-inline-start: 0.5rem;
}

.hamburger_container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: inherit;
}

.hamburger_container h4{    
    padding-inline-end: 0.5rem;
}

.search_container h4, .hamburger_container h4{
    font-family: 'gotham-light';
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.5rem;
}

.nav_menu{
    display: none;
    justify-content: space-between;    
    list-style: none;
    text-align: center;
    max-width: 75rem;
    width: 100%;
    height: 100%;      
}

.item{     
    width: 100%;
    max-width: 200px;
    height: 100%;
    padding-inline: 0.5rem;    
}

.item:first-child{
    padding-inline-start: 0px;
}

.item:last-child{
    padding-inline-end: 0px;
}

.link_style,.link_current{
    position: relative;
    width: 100%;
    height: 100%;    
}

.link_current::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: 0;
    border-radius: 100vw;
    background: var(--ui-accent);
    opacity: 100%;    
}

.link_style::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: 0;
    border-radius: 100vw;
    background: var(--ui-grey-dark);
    opacity: 100%;
}

.link{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: var(--ui-grey-light);
    font-family: 'gotham-light';
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.5rem;
}

.link:hover{
    color: var(--ui-white);
}

.link::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0px;
    left: 0;
    border-radius: 100vw;    
    background: var(--ui-grey-dark);
    opacity: 100%;    
}

.link:hover::before{
    background: var(--ui-accent);
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.link::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0px;
    left: 0;
    border-radius: 100vw;
    background: var(--ui-accent);
    opacity: 100%;      
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);    
}

.link:hover::after{
    background: transparent;
    width: 100%;
    transition: 0s;
}

.hamburger_menu{
    display: flex;
    position: relative;
    padding-inline-end: 1rem;
}

.hamburger{
    width: 1.625rem;
    height: 0.125rem;
    background-color: var(--ui-white);
    border-radius: 100vw;
    transition: all 0.2s ease-in-out;
}

.hamburger::before{
    content: "";
    position: absolute;
    width: 1.625rem;
    height: 2px;
    background-color: var(--ui-white);
    border-radius: 100vw;
    transition: transform 0.2s ease-in-out;     
    transform: translate(-13px,-7px);     
}

.hamburger::after{
    content: "";
    position: absolute;
    width: 1.625rem;
    height: 2px;
    background-color: var(--ui-white);
    border-radius: 100vw;
    transition: transform 0.2s ease-in-out; 
    transform: translate(-13px,7px);     
}

.hamburger_open{
    width: 1.625rem;
    height: 0.125rem;
    background-color: var(--ui-white);
    border-radius: 100vw;
    transform: translateX(-14px);
    background-color: transparent;
    transition: transform 0.1s ease-in-out;    
}

.hamburger_open::before{
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 2px;
    background-color: var(--ui-white);
    border-radius: 100vw;
    transition: transform 0.2s ease-in-out; 
    transform: rotate(45deg) translate(0px,0px);     
}

.hamburger_open::after{
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 2px;
    background-color: var(--ui-white);
    border-radius: 100vw;
    transition: transform 0.2s ease-in-out; 
    transform: rotate(-45deg) translate(0px,0px);    
}

.mobile_menu,.mobile_menu_open{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-dark-opacity95);
    position: fixed;     
    text-align: center;
    border-bottom: var(--ui-border);
    top: calc(0px + 5.5rem);
}

.mobile_nav_menu{
    display: flex;
    flex-direction: column;    
    height: inherit;
}

.mobile_nav_menu a{   
    padding: 1rem; 
    font-size: 1.25rem;
    line-height: 1.25rem; 
    color: var(--ui-white);   
}

.mobile_menu li,.mobile_menu_open li{        
    width: 100%;
    padding: 1rem;   
    margin-inline: auto;
    list-style: none; 
    border-bottom: var(--ui-border);  
}

.mobile_menu{   
    inset: 5.5rem 0 0 100%;   
    transition: all 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.mobile_menu_open{ 
    inset: 5.5rem 0 0 0;   
    transition: all 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.mobile_nav_socials{
    width: 100%;
    height: 52px;
    background-color: var(--ui-grey-dark);
}

.mobile_socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    padding-inline: 1rem;
}

.mobile_socials a{
    text-decoration: none;
    color: var(--ui-grey-light);
    padding: 0;
}

.mobile_socials a svg{
    height: 24px;
    width: 24px;
}

@media screen and (min-width:48rem) {   

    .top_navbar{
        height: 5rem;
    }

    .primary_navbar{
        justify-content: center;
    }

    .search_container{
        display: none;
    }
    
    .hamburger_container{
        display: none;
    }

    .nav_menu{
        display: inline-flex;
        
    }
}

@media screen and (min-width:76rem) {
    .nav_menu{
        
        padding-inline: 1rem;
    }
}